img{
    float: left;
    border: 3px solid black;
    margin: 10px;
    border-radius: 20px;
}
p{
    height: 250px;
    font-size: 1.3em;
}
a{
    text-decoration: none;
    color: rgb(255, 8, 0);
    font-weight: bold;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    background-color: blanchedalmond;
}
h1{
    font-size: 40px;
}