*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: pink;
    flex-wrap: wrap;
    padding:120px 0px;
}


img{
    width: 100px;
    height: 100px;
    border: 10px solid white;
    border-radius: 50%;
}
p{
    font-size:0.8rem;
    padding: 10px;
}
a{
    color: white;
    font-weight: bold;
    background-color: blue;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    height: fit-content;
    padding: 5px;
}
div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* border: 2px solid; */
    /* height: 300px; */
    border-radius: 20px;
    background-color: blanchedalmond;
    padding: 10px 0px;
}

footer{
    background-color: rgba(170, 33, 170, 0.797);
    height: 28vh;
    display: flex;
    align-items: center;
}

.div1{
    font-weight: bold;
    color: white;
    width: 50%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    line-height: 25px;
}