:root{
    --div-color:rgb(244, 225, 79);
}
body{
    background-color: rgb(217, 211, 197);
}
h1{
    color: brown;
}
p{
    margin: 10px;
    font-size: 1.2em;
    text-align:justify;
}
span{
    margin-left: 100px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    font-size: 2.3rem;
    color: red;
    border: 3px solid black;
    padding: 2px;
    border-radius: 10px;
    background-color: azure;
}
img{
    border: 3px dotted red;
    border-radius: 30px;
    width: 300px;
    padding: 3px;

}
img:hover{
    /* border: 5px solid red; */
    background-image: linear-gradient(orange,white,green);
    border:2px solid rgb(205, 182, 182);
}
.index-div{
    padding: 250px;
    background-image: linear-gradient(orange,white,green);
    border-radius: 30px;
    border: 3px solid black;
}
.style-img{
    margin:50px;
}
#img1{
    float: left;
}

#img3{
  float: right;
}
#img2{
    display: block;
    margin: auto;
}
li:hover{
  list-style-type: circle;

}

.main-div{
    border: 4px solid;
    border-radius:30px ;
    background-color:rgb(112, 105, 236) ;
    margin-left: 25%;
    margin-right: 25%;
    /* width: 1080px; */
    /* height: 720px; */
}
.styled-hr{
    background-color: black;
    border-style:none;
    height: 0.2rem;
    /* width: 8rem; */
}
ul{
    list-style-position: inside;
    margin-left:auto ;
    margin-right: auto;
    width:fit-content;
    /* list-style-position: inside; */
    font-size: 2rem;
}

.styled-div{
    background-color: var(--div-color);
    border: 4px solid;
    border-radius: 30px;
}
h1{
    text-align: center;
}
