*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    background-color: white;
}

body{
    background-color: red;
    color: white;
}
header{
    color: red;
    font-size: 1.2rem;
    padding-left: 2%;
    position: fixed;
    width: 100%;
}
main{
    display: flex;
    height: 45vh;
}

div{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 30px;
}
.main1{
    padding-top: 70px;
    justify-content: center;


}

.main1 div{
    padding: 100px;
}
.main2{
    gap: 5px;
    padding: 5px;

    flex-wrap: wrap;
    justify-content: center;
    
}
.main2 div{
    background-color: rgb(104, 22, 22);
    width: 33%;
    min-width: 350px;
}

p{
    font-size: 1rem;
    color: rgba(245, 222, 179, 0.77);
    padding: 20px;
}
h2,h1{
    padding: 20px;
}

.main1 div p {
    color: white;
    font-size: 1.3rem;
}

@media screen and (max-width:1000px) {
    .main1 div{
        padding: 0;
    }
    img{
        width: 90%;
    }

    main h1,main h2{
        font-size: 1rem;
    }
    .main1 div p {
        font-size: 0.9rem;
    }
    header{
        height: auto;
    }
}